/* Footer */
.footer-custom {
    background: var(--medium-white);
    padding: 0;
    width: 100%;
 }

.footer-custom ul {
  display: inline-flex;
  gap: 2vw;
  list-style: none;
}

.footer-custom li {
  color: var(--medium-gray); 
  font-size: var(--font-subtitle);
}

.footer-links {
  color: var(--medium-gray);
  text-decoration: none;
  font-size: var(--font-subtitle);
}

.footer-line {
  width: 90%;
  height: 0;
  border-top: 1px solid var(--light-gray);
  margin: 0 auto 1rem auto;
}

.footer-col {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

